@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal
}

.wrapper {
  display: block;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}


  #categoryCard:hover {
    animation: pulse 1s ;
  }
  
  @keyframes heartBeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


  .category-carousel {
    position: relative;
    overflow: hidden; /* Hide the vertical scrollbar */
  }
  
  .categories {
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling */
    gap: 20px;
    justify-content: center; /* Center category items */
    padding: 10px 0; /* Add padding to the top and bottom */
  }
  .category-item {
    position: relative;
    border: 0px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    overflow: hidden; 
    margin-left: 20px;
  }
  

  .category-item img {
    max-width: 100%; 
    max-height: 100%; 
  }
  
  .category-item.active {
    background-color: black;
  }
  
  .text-center h5 {
    margin-top: 6px;
    margin-left: 30px; /* Margin to separate category name from circle */
  }
  
  .text-center hr {
    color: red;
    height: 3px;
    margin-left: 60px;
    margin-bottom: 5px; /* Margin to separate line from category name */
  }
  
  .navigation_left {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
  }
  
   .navigation_right {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
  }

  .navigation button {
    margin: 0 0px;
  }
  /* card imge height*/

  .card img {
    height: 150px;
  }
 
  /* CSS for add to bucket button */
.btn-hover:hover {
  color: white;
  background-color: red;
}

.food-items-container.dark-mode {
  
  background-color: black; /* Change to your desired dark mode background color */
  color: white; /* Change to your desired dark mode text color */
}

.food-items-container.light-mode {
  background-color: white; /* Change to your desired dark mode background color */
  color: black; /* Change to your desired dark mode text color */
}


/* loader css*/

.food-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust height as needed */
  font-size: 24px;
}

/*code for home side bar*/

.sidebar-open {
  width: 250px;
  transition: width 0.5s;
}

.sidebar-closed {
  width: 0;
  transition: width 0.5s;
}

.toggle-sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1000;
}


/*slidebar*/

.sidebar {
  height: 120vh;
  background-color: #333;
  color: #fff;
  padding: 10px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.sidebar.closed {
  width: 60px;
}

.toggle-btn {
  margin-bottom: 20px;

}

.list-group {
  margin-top: 20px;
}

.list-group-item {
  cursor: pointer;
  background-color: #333 ;
  border: none;
  color: white;
  margin-top: 5px;
  
}

.list-group-item:hover{

  background-color: #414040;
}

.content {
  padding: 20px;
}

.selected-item {
  background-color: #f0f0f0;
  padding: 30px;
}

@media (min-width: 768px ) {

  .sidebar {
    
    margin-top: 70px;
   
  }
  
}


@media (max-width: 840px) {
  .sidebar {
    height: auto;
    background-color: rgb(255, 255, 255);
    overflow: visible;
  }

  .toggle-btn {
    display: block;
    margin: 20px auto; /* Center the button horizontally */
    text-align: center;
    color: #fff;
  }

  .content {
    padding-top: 20px; /* Add padding to content to accommodate the sidebar */
  }

  .sidebar.closed {
    height: 80px;
    overflow: hidden;
  }
}




/*footer li hover efffect*/

.list-unstyled li a:hover {
  font-size: 15px; /* Green color on hover */
}

/* ceatogryBtnHover*/

.ceatogryBtnHover {
  position: relative;
}

.ceatogryBtnHover::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.ceatogryBtnHover:hover::after {
  background-color: green;
}



body{
  background: #f7f7ff;
  margin-top:20px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
  margin-right: .5rem!important;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.categories::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.categories {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Style the scrollbar track */
.categories::-webkit-scrollbar-track {
  background: #f1f1f1; /* A light grey */
}

/* Style the scrollbar handle */
.categories::-webkit-scrollbar-thumb {
  background: #888; /* A dark grey */
}

/* Display the scrollbar on hover */
.categories:hover::-webkit-scrollbar {
  display: block;
}





@media (min-width: 768px) {
  .CustomMarginTop {
    margin-top: -25px;
  }
}


/*navbar menu */

.custom-menu li:hover {
  background-color: #dbd8d8 !important;
}


.bg-image {
  background-image: url('./assets/brooke-lark-wMzx2nBdeng-unsplash.jpg '); /* Double-check the path */
  background-size: cover;
}
